*{
    font-family: "Source Code Pro", monospace;
}
#MainMenu, #footer, #header,.css-cio0dv.e1g8pov61, .css-aw8l5d.e1akgbir1 {
    visibility: hidden;
}

/* "Source Code Pro", monospace */

.css-10trblm.eqr7zpz0,.css-nahz7x.eqr7zpz4{font-family: "Source Code Pro", monospace;}

