*{
    font-family: "Source Code Pro", monospace;
}
#MainMenu, #footer, #header,.css-cio0dv.e1g8pov61, .css-aw8l5d.e1akgbir1,.css-6q9sum.ef3psqc3,.css-q16mip.e3g6aar0,.css-qcqlej.ea3mdgi3 {
    visibility: hidden;
}

/* "Source Code Pro", monospace */

.css-10trblm.eqr7zpz0,.css-nahz7x.eqr7zpz4{font-family: "Source Code Pro", monospace;}

